[Unit]
Description=OrientDB
After=network.target
Wants=network.target

[Service]
User=orientdb
ExecStart=/opt/orientdb/bin/dserver.sh
Restart=on-failure
RestartSec=20

[Install]
WantedBy=multi-user.target
