[Unit]
Description=OrientDB
After=network.target
Wants=network.target

[Service]
User=orientdb
Environment=ORIENTDB_ROOT_PASSWORD={{ orientdb_root_password }}
ExecStart=/opt/orientdb/bin/{% if 'orientdb' in groups %}d{% endif %}server.sh
Restart=on-failure
RestartSec=20

[Install]
WantedBy=multi-user.target
